*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

body{
    background-color:  hsl(233, 47%, 7%);
    font-family: 'Inter','Lexend Deca';
    Font-size: clamp(10px,15px,20px);
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 14px;
    overflow: hidden;
    height: clamp(80vh,90vh,95vh);
    width:80vw;
    background-color:  hsl(244, 38%, 16%);
}
.image{
  background-image:url("/images/image-header-mobile.jpg" );
   height:35%;
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
   
}
.filter{
    mix-blend-mode: multiply;
    opacity: 0.8;
    align-self: center;
    height: 100%;
    width: 100%;
    background-color: hsl(277, 64%, 61%);
}
.content{
    height: 65%;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
span{
    color:hsl(277, 64%, 61%);
}
.content h1,p,.attribution{
    text-align: center;
    max-width: 80%;
    color:hsl(0, 0%, 100%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
.about ul{
    display: flex;
    flex-direction: column;
   
    gap: 15px;
    color:  hsla(0, 0%, 100%, 0.6);
}
.destaque{
    font-size: clamp(1rem,1.5rem,2rem);
    color:hsl(277, 64%, 61%);
}
.attribution a{
    text-decoration: none;
    color:hsl(277, 64%, 61%);
}

@media (min-width:600px){
    .container{
        flex-direction: row-reverse;
        height: 50vh;
        width: 90vw;
    }
    .content{
        margin: auto;
        width: 50%;
        height: 100%;
       display: flex;
    }
    .content h1,p{
        text-align:left;
        align-self: flex-start;
        max-width: 500px;
    }
    .image{
        background-image: url('/images/image-header-desktop.jpg');
        background-size: cover;     
        width: 40%;
        height: 100%;
    }
    .about{
        align-self: flex-start;
    }
    .about ul{
        max-width:min-content ;
        gap: 40px;
        flex-direction:row ;
    }

   
    
}

